@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: #333;
}